
.center {
  margin: 0px 50%;
}

/*.container
{
	width: 75%;
    margin: 0px 25%;
}

	maybe?

*/


body
{
	width:		100%;
	margin: 0px;
	padding: 0px;
	background: #F5F5F5;
	text-decoration: none;
}

header
{
	/*position:absolute;
	margin-bottom: 100px;*/
	width: 100%;
	max-height: 200px;
}

Header aside
{
	width: 100%;
}

logoHeader
{
	float: 		left;
	
}



nav
{
	width:		100%;
	float:		right;
	color: 		#665D1E;

}

.socialMediaButtons
{
	width:		100%; 
	max-width:	50px;
	float:		right;
	margin-right: 10%;

}

.navButtons
{
	list-style: none;
	background: #d7f4d7;
	margin: 0px;
	
}

.navButtons a
{
	/*background: #B0BF1A;*/
	color: 		#665D1E;
	width: 		100%;
	max-width: 	200px;
	float:		left;
	text-decoration: none;
	text-align: center;
	
	
}
.navButtons a:hover
{
	background: #665D1E;
	color: 		#ffffff;
	transition: 1s;
}

main
{
	/*margin:5% 0 0 0;*/
}

